/*
* ================================================
*                   CORE
* ================================================
* */

@use '@angular/material' as mat;
@include mat.core();

/*
* ================================================
*                   GAMA DE COLORES
* ================================================
* */

$my-primary-color: (
    50 : #e8eaf6,
    100 : #c5cbe9,
    200 : #9fa8da,
    300 : #7985cb,
    400 : #5c6bc0,
    500 : #3f51b5,
    600 : #394aae,
    700 : #3140a5,
    800 : #29379d,
    900 : #1b278d,
    A100 : #c6cbff,
    A200 : #939dff,
    A400 : #606eff,
    A700 : #4757ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$my-accent-color: (
    50 : #e4f1ee,
    100 : #bcdcd4,
    200 : #8fc5b8,
    300 : #62ad9b,
    400 : #419c85,
    500 : #1f8a70,
    600 : #1b8268,
    700 : #17775d,
    800 : #126d53,
    900 : #0a5a41,
    A100 : #8effd7,
    A200 : #5bffc5,
    A400 : #28ffb3,
    A700 : #0effaa,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$my-warn-color: (
    50 : #ffeee0,
    100 : #fed5b3,
    200 : #feba80,
    300 : #fe9e4d,
    400 : #fd8926,
    500 : #fd7400,
    600 : #fd6c00,
    700 : #fc6100,
    800 : #fc5700,
    900 : #fc4400,
    A100 : #ffffff,
    A200 : #fff2ef,
    A400 : #ffcabc,
    A700 : #ffb6a2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/*
* ================================================
*                PALET DE COLORES
* ================================================
* */

$my-primary: mat.define-palette($my-primary-color);
$my-accent: mat.define-palette($my-accent-color);
$my-warn: mat.define-palette($my-warn-color);

/*
* ================================================
*                TEMA PROPIO
* ================================================
* */

$app-light-theme: mat.define-light-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
    ),
    typography: mat.define-typography-config(
        $font-family: 'Signika',
        //$button: mat.define-typography-level(1rem, 1rem, 1rem),
        //$headline: mat.define-typography-level(2rem, 2rem, 2rem),
    ),
    density: 0,
));
$app-dark-theme: mat.define-dark-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
    ),
    typography: mat.define-typography-config(
        $font-family: 'Signika',
    ),
    density: 0,
));
/*
* ================================================
*             APLICAR NUESTRO TEMA A ANGULAR
* ================================================
* */
//@include mat.core-theme($app-theme);
//@include mat.button-theme($app-theme);

//@include mat.all-component-themes($app-dark-theme);
/*
* ================================================
*            ALTERNATIVE THEME
* ================================================
* */
//
//.alternative-theme {
//    $custom-typography-alter: mat.define-typography-config(
//        $font-family: 'Roboto'
//    );
//
//    @include mat.core-typography($custom-typography-alter);
//}

/*
* ================================================
*            DARK - LIGHT -THEMES
* ================================================
* */
.dark-theme {
    @include mat.all-component-themes($app-dark-theme);
    //background-color: #303030;
    //color: #FFFFFF;
    transition: all .2s ease;
}
.light-theme {
    @include mat.all-component-themes($app-light-theme);
    //background-color: #FFFFFF;
    //color: #303030;
    transition: all .2s ease;
}