<!--<app-toolbar></app-toolbar>-->
<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()"
            class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container >

    <mat-drawer #drawer [mode]="(isWeb$ | async) ? 'push' : 'over' "
                [opened]="(isWeb$ | async) === false"
                class="mat-elevation-z8">
        <app-sidenav></app-sidenav>
    </mat-drawer>

    <mat-drawer-content class="mat-elevation-z8">
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>